<!DOCTYPE html>
<html>
<head>
  <title>CurrencyTracker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'extensions', 'jquery-1.5.2.min', 'view_controller', 'simple_pie_chart' %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>
  <h1>CurrencyTracker</h1>
  <nav id="authentication">
    <%= render (singed_in? ? 'users/info' : 'sessions/signs') %>
  </nav>
</header>

<div id="main">
  <% unless signed_in? %>
    <%= yield %>
  <% end %>
</div>

<footer>
  CurrencyTracker &copy; Copyright 2011 by Smart Enterprises.
</footer>
</body>
</html>
